html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

#messages {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  background-image: url("mobius2.png");
  background-repeat: no-repeat; 
  background-position-x: center;
  background-attachment: fixed;
}

#messages div {
  padding: 5px 10px;
  overflow-wrap: anywhere;
}

#messages div:nth-child(odd) {
  background: rgba(12, 12, 12, .7);
}

#messages {
  margin-bottom: 50px
}

form {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: limegreen;
  display: inline-flex;
}

input {
  width: 100%;
  resize: horizontal;
  background-color: #151515;
  /* color: whitesmoke; */
  font-size: 20px;
  padding: 8px;
  border: none;
  outline: none;
}

button {
  height: 100%;
  width: 100px;
  border: none;
  padding: none;
  margin: none;
  color: black;
}

#count {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 25px;
  padding: 15px;
  background-color: #151515;
}
a {
  color: inherit;
}