html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% );
}
body {
  display: initial;
}

#messages {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;

}

#messages div {
  padding: 5px 10px;
  overflow-wrap: anywhere;
}

#messages div:nth-child(odd) {
  background: rgba(12, 12, 12, 0.2);
}

#messages {
  margin-bottom: 50px
}

form {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: limegreen;
  display: inline-flex;
}

input {
  width: 100%;
  resize: horizontal;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 8px;
  border: none;
  outline: none;
}

button {
  height: 100%;
  width: 100px;
  border: none;
  padding: none;
  margin: none;
  color: black;
}

#count {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 25px;
  padding: 15px;
  background-color: #151515;
}
a {
  color: inherit;
}